<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="1">
  <!-- For more information on MicrosoftGame.config elements,
       please refer to online GDK documentation found at https://aka.ms/GDK_MSGC
       or the MicrosoftGame.config topic in the System section of the offline GDK documentation. -->
  <Identity Name="AfilGames.ChippysStashWindows" Publisher="CN=44B2AC89-AD9A-462E-BA8F-CD247DAB6981" Version="1.0.3.0" />
  <!-- <StoreId>000000000000</StoreId> | StoreID specifies the store identity of this title. -->
  <StoreId>9P4NB9L4BXZ5</StoreId>
  <TitleId>635a12c7</TitleId>
  <MSAAppId>f8fe74e2-354f-47c0-b1de-7e1e4baeb5b2</MSAAppId>
  <ExecutableList>
    <Executable Name="ChippysStash.exe" Id="Game" />
    <!--    TargetDeviceFamily="PC"
            IsDevOnly="false" | IsDevOnly specifies if is a Development only executable.
            OverrideDisplayName="Xbox Game Override"
            OverrideLogo="GraphicsLogoOverride.png"
            OverrideSquare44x44Logo="SmallLogoOverride.png"
            OverrideSplashScreenImage="SplashScreenOverride.png" -->
  </ExecutableList>
  <ShellVisuals DefaultDisplayName="Chippy´s Stash (Windows)" PublisherDisplayName="Afil Games" Square150x150Logo="Square150x150Logo.png" Square44x44Logo="Square44x44Logo.png" Description="Chippy's Stash Game" ForegroundText="light" BackgroundColor="#000040" SplashScreenImage="SplashScreenImage.png" StoreLogo="StoreLogo.png" />
  <!-- <Resources> | Resources is a list of Language Locale pairs used to localize Shell Visuals.
        <Resource Language="en-us"/>
        <Resource Language="de-de"/>
        <Resource Language="es-mx"/>
  </Resources> -->
  <!-- <DesktopRegistration>
      <CustomInstallActions> | CustomInstallActions specifies a custom installer action with Administrator privileges the first time your game runs.
        <Folder>Installers</Folder>
        <InstallActionList>
          <InstallAction File="CustomInstaller.exe" Name="UniqueInstallTaskName" Arguments="/silent /example" />
        </InstallActionList>
      </CustomInstallActions>
      <DependencyList> | DependencyList determines which framework packages need to be installed before installing the title package.
        <Dependency Name="Microsoft.DirectXRuntime" MinVersion="9.29.952.0"/>
      </DependencyList>
      <ProcessorArchitecture>x64</ProcessorArchitecture> | ProcessorArchitecture specifies the processor architecture that matches your game executables.
      <ModFolder Name="Xbox Game"/> | ModFolder defines the location of end-user mods for your game files.
  </DesktopRegistration> -->
  <ExtendedAttributeList>
    <ExtendedAttribute Name="SandboxIds" Value="JFSTHW.0" />
    <ExtendedAttribute Name="Scid" Value="00000000-0000-0000-0000-0000635a12c7" />
  </ExtendedAttributeList>
  <DevelopmentOnly>
    <ContentIdOverride>4e345039-3942-304c-c034-42585a352f00</ContentIdOverride>
  </DevelopmentOnly>
  <DesktopRegistration>
    <DependencyList>
      <KnownDependency Name="VC14" />
    </DependencyList>
    <ProcessorArchitecture>x64</ProcessorArchitecture>
    <MultiplayerProtocol>false</MultiplayerProtocol>
  </DesktopRegistration>
</Game>